.table-container{
  width: 60%;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
}

.table-container h2{
  text-align: center;
  margin-bottom: 20px;
}

.shopping-table{
  width: 100%;
  border-collapse: collapse;
}

.shopping-table th, .shopping-table td{
  border: 3px solid grey;
  padding: 10px;
  text-align: left;
}

.shopping-table.th{
  background-color: azure;
}